<?php

/**
 * Database Connection
 */
$app['database.gym'] = [
    'host'   => '127.0.0.1',
    'user'   => 'root',
    'passwd' => ''
];

$app['database.sheaker'] = [
    'dbname' => 'sheaker',
    'host'   => '127.0.0.1',
    'user'   => 'root',
    'passwd' => ''
];

/**
 * Elasticsearch configuration
 */
$app['elasticsearch.config'] = [
    'hosts' => [
        '127.0.0.1:9200'
    ],
    'logging' => true,
    'logPath' => __DIR__ . '/../logs/elasticsearch.log',
    'connectionClass' => '\Elasticsearch\Connections\CurlMultiConnection'
];

/**
 * Miscellaneous
 */
$app['timezone'] = 'UTC';
