<?php

/**
 * Database Connection
 */
$app['database.host']   = '127.0.0.1';
$app['database.user']   = 'root';
$app['database.passwd'] = '';

/**
 * Elasticsearch configuration
 */
$app['elasticsearch.config'] = [
    'hosts' => [
        '127.0.0.1:9200'
    ],
    'logging' => false,
    'logPath' => __DIR__ . '/../logs/elasticsearch.log',
    'connectionClass' => '\Elasticsearch\Connections\CurlMultiConnection'
];

/**
 * Miscellaneous
 */
$app['timezone'] = 'UTC';
